node_modules/
.cache/
public

*.env
*.env.*

# Local Netlify folder
# .netlify
# !/.netlify/functions/
.DS_Store
.htmlhintrc
.stylelintrc
.eslintrc.json
.idea

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/extensions/vscode-edu4dev-color-theme/

# Support for Project snippet scope
!.vscode/*.code-snippets
