.single-order {
  .intro {
    &__breadcrumb {
      margin-bottom: rem-calc(142) !important;

      @include media-breakpoint-up(lg) {
        margin-bottom: rem-calc(212) !important;
      }
    }

    &__icon {
      width: 26px;

      @include media-breakpoint-up(lg) {
        width: 30px;
      }
    }

    &__title {
      font-size: rem-calc(32);

      @include media-breakpoint-up(lg) {
        font-size: rem-calc(40);
      }
    }
  }

  &__content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $blue-alt;
      font-weight: 800;
      margin-bottom: rem-calc(4);
    }

    p {
      font-size: rem-calc(14);
      line-height: rem-calc(22);
      margin-bottom: rem-calc(16);
    }

    a {
      color: $gray-900;
    }
  }

  &__form-container {
    @include media-breakpoint-up(lg) {
      margin-top: rem-calc(-104);
      z-index: 1;
    }
  }

  &__form {
    padding: rem-calc(24 25 32 25);

    @include media-breakpoint-up(lg) {
      padding: rem-calc(40 28);
    }

    &-paragraph {
      margin-bottom: rem-calc(12);

      @include media-breakpoint-down(md) {
        margin-bottom: rem-calc(8);
      }
    }
  }

  .gform_confirmation_wrapper {
    padding: rem-calc(8 0 16 0);

    @include media-breakpoint-up(md) {
      padding: rem-calc(8 54 34 54);
    }
  }
}
