.single-policy {
  .intro {
    &__breadcrumb {
      margin-bottom: rem-calc(70) !important;

      @include media-breakpoint-up(lg) {
        margin-bottom: rem-calc(40) !important;
      }
    }
  }

  .apolice-cards {
    &__finance,
    &__documents {
      h2 {
        color: $blue-alt;
      }
    }
  }

  .modal-alteracao-documento,
  .modal-solicitar-endosso {
    .modal-body {
      .btn-close {
        top: rem-calc(8);
        right: rem-calc(8);

        @include media-breakpoint-up(md) {
          top: rem-calc(24);
          right: rem-calc(24);
        }
      }

      .gform_wrapper {
        margin-right: 0;
        margin-left: 0;

        .gform_heading {
          @extend .px-0;

          .gform_title {
            color: $blue-alt;
            font-weight: 800;
            padding-right: rem-calc(24);

            @include media-breakpoint-up(md) {
              padding-right: initial;
            }
          }
        }

        form {
          @extend .px-0;
        }

        // Formulário: Solicitação de endosso.
        // O primeiro bloco (Conteúdo HTML) está com esta Classe CSS personalizada
        .block-margin-bottom {
          margin-bottom: rem-calc(16) !important;
        }

        // Formulário: Solicitação de alteração de documento.
        // O último bloco (Conteúdo HTML) está com esta Classe CSS personalizada
        .gfield-last-line {
          margin-bottom: rem-calc(0) !important;
        }
      }
    }
  }
}
