.template-profile {
  .intro {
    .logout-link-container {
      margin-top: -22px;
    }
  }
}

.profile {
  margin-bottom: rem-calc(80);

  .profile-nav-forms {
    margin-bottom: rem-calc(12);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding-bottom: rem-calc(20);

    @include media-breakpoint-up(md) {
      margin-bottom: rem-calc(32);
      padding-bottom: 0;
    }

    &__button {
      @extend .border-0;
      @extend .text-dark;

      border-bottom: 4px solid #e9edf3 !important;
      flex: 1 0 auto !important;
      font-weight: 800;
      padding: rem-calc(0 0 16 0);

      @include media-breakpoint-up(md) {
        flex: initial !important;
      }

      +.profile-nav-forms__button {
        margin-left: 32px;
      }

      &.active {
        @extend .text-primary;

        border-bottom: 4px solid $primary !important;
      }
    }
  }

  .profile-forms {
    &__alert { // Só consegui modificar o alert com sass, classes não estão funcionando nos elementos.
      border: 2px solid $green;
      border-radius: rem-calc(4);
      margin-bottom: rem-calc(40);

      &-text {
        @extend .fs-4;
        @extend .fw-bold;
        @extend .text-dark;
      }

      &-button {
        background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fc0'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/0.87em auto no-repeat !important;
      } // https://stackoverflow.com/questions/67597165/bootstrap-5-close-button-easy-way-to-change-color
    }

    &__company {
      &-logo-title {
        margin-bottom: rem-calc(21);
      }

      &-logo-front {
        div {
          background: white;
          border-radius: 50%;
          width: rem-calc(78);
          height: rem-calc(78);

          &::before {
            content: '';
            border: 1px dashed $gray-100;
            padding: 28px;
            border-radius: 50%;
          }

          &::after {
            font-family: unicons-line, 'Segoe UI', sans-serif;
            position: absolute;
            content: '\e9c1';
            font-size: 20px;
            color: $primary;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
          }

          img {
            width: rem-calc(78);
            height: rem-calc(78);
            z-index: 70;
          }

          .overlay {
            cursor: pointer;
            font-size: rem-calc(12);
            opacity: 0;
            transition: $transition-base;
            width: rem-calc(78);
            height: rem-calc(78);
            z-index: 100;

            &:hover {
              opacity: 1;
            }
          }
        }
      }

      &-radio {
        span {
          margin-bottom: rem-calc(13);
        }
      }
    }

    &__registration {
      &-token {
        span {
          font-size: rem-calc(12);
        }
      }
    }
  }

  .modal-password {
    &__title {
      color: #2c3f4e;
      font-weight: 800;
    }

    &__button {
      top: rem-calc(12);
      right: rem-calc(12);

      @include media-breakpoint-up(lg) {
        top: rem-calc(24);
        right: rem-calc(24);
      }
    }
  }

  .modal-password-footer {
    &__close {
      @extend .pb-2;

      font-weight: 800;
      margin-top: rem-calc(28);

      @include media-breakpoint-up(md) {
        margin-top: rem-calc(0);
        padding-bottom: 0 !important;
      }
    }
  }
}
