.list-segment {
  &__header {
    padding-top: calc(9 / 16.6 * 100%);
  }

  &__header-content {
    background: linear-gradient(90deg, rgba($black, 0.8) 0%, rgba($black, 0) 100%);
  }

  &__header-title {
    &::before {
      content: "";
      float: right;
      height: 1rem;
      width: calc(100% - 6.6em);
    }
  }

  .list-group-item {
    path {
      transition: $transition-base;
    }

    &:hover {
      color: $primary;

      path {
        fill: $primary;
      }
    }
  }

  &__title {
    color: #7b7474;
  }
}
