.footer {
  padding: rem-calc(32 0 40 0);

  &__title {
    line-height: rem-calc(18);
  }

  &__content {
    &-description {
      font-size: rem-calc(12);
      margin-bottom: rem-calc(11);
    }

    &-link {
      a {
        font-size: rem-calc(12);
      }
    }
  }

  &__social {
    &-socials {
      li {
        a {
          transition: $transition-base;

          &:hover {
            filter: brightness(120%);
          }
        }
      }
    }
  }

  @include media-breakpoint-down(xl) {
    margin-bottom: rem-calc(80);

    &__content,
    &__contact {
      margin-bottom: rem-calc(32);
    }
  }
}
