.modal-dialog {
  @include media-breakpoint-down(md) {
    padding: rem-calc(10);
  }

  .modal-header {
    @include media-breakpoint-down(md) {
      padding: rem-calc(28 32 14 18) !important;
    }

    .btn-close {
      transition: $transition-base;

      &:hover {
        box-shadow: $box-shadow-sm;
      }
    }
  }

  .modal-content {
    .modal-body,
    .modal-footer {
      @include media-breakpoint-down(md) {
        padding: rem-calc(24);
      }

      p {
        line-height: rem-calc(22);
      }

      textarea {
        height: rem-calc(170);
      }
    }
  }
}

.card {
  transition: $transition-base;

  &:hover {
    @extend .bg-light;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  display: flex;
  transform: translateY(1px);
}

.dropdown-divider {
  height: 0 !important;
}

b,
strong {
  font-weight: $font-weight-bold;
}

a:active,
a:focus-visible {
  color: $link-hover-color;
  text-decoration: $link-hover-decoration;
}
