header {
	nav.main-nav {
		@media (max-width: $tablet__size) {
			width: 100%;
		}
		margin: 0;
		display: flex;
		justify-content: center;
		transition: visibility 0.2s, opacity 0.3s ease-in-out;
		@media (max-width: $tablet__size) {
			&.menu-state-visible {
				opacity: 1;
				visibility: visible;
				margin-top: -58px;
			}
			&.menu-state-not-visible {
				opacity: 0;
				visibility: hidden;
			}
		}
		@media (max-width: $tablet__size) {
			flex-direction: column;
			flex-wrap: wrap;
		}
	}
}
