.dashboard-intro {
  margin-bottom: rem-calc(40);

  @include media-breakpoint-down(md) {
    margin-bottom: rem-calc(24);
  }

  &__background {
    height: rem-calc(248) !important;

    img {
      object-fit: cover;
    }

    &-account {
      @include media-breakpoint-down(md) {
        padding-bottom: rem-calc(32) !important;
      }

      img {
        width: rem-calc(78) !important;
        height: rem-calc(78) !important;
      }

      h3 {
        line-height: rem-calc(24);
      }

      h2 {
        line-height: rem-calc(32);
      }
    }
  }
}

.dashboard-cards {
  margin-bottom: rem-calc(64);

  @include media-breakpoint-down(md) {
    margin-bottom: rem-calc(80);

    .col {
      +.col {
        margin-top: rem-calc(16); // separação automática entre os cards em casos de LOOP Dinâmico
      }
    }
  }

  .card {
    .row {
      > div:first-child {
        margin-top: -2px;
      }
    }

    .card-body {
      .card-title {
        line-height: rem-calc(24);
      }

      .card-text {
        line-height: rem-calc(22);
      }
    }
  }
}
