.apolice-intro {
  margin-bottom: rem-calc(52);

  @include media-breakpoint-down(md) {
    margin-bottom: rem-calc(24);
  }

  &__background {
    height: rem-calc(210) !important;

    @include media-breakpoint-down(md) {
      height: rem-calc(240) !important;
    }

    img {
      object-fit: cover;
      filter: brightness(65%);
    }

    &-breadcrumb {
      padding-top: rem-calc(32) !important;

      @include media-breakpoint-down(md) {
        padding-top: rem-calc(16) !important;
      }
    }

    &-title {
      padding-bottom: rem-calc(40) !important;

      @include media-breakpoint-down(md) {
        padding-bottom: rem-calc(17) !important;
      }

      .row {
        div:nth-of-type(2) {
          h4 {
            span {
              font-weight: 800;
            }
          }
        }

        div:last-of-type {
          margin-bottom: -7px;

          @include media-breakpoint-down(md) {
            margin-bottom: 0;
          }

          a {
            font-weight: 800;
          }
        }
      }
    }
  }
}

.documents-cards,
.apolice-cards {
  margin-bottom: rem-calc(112);

  @include media-breakpoint-up(md) {
    margin-bottom: rem-calc(152);
  }

  .card {
    .card-body {
      h3 {
        margin-bottom: rem-calc(12);
      }

      p {
        font-size: rem-calc(12);
      }
    }
  }
}

.apolice-cards {
  margin-bottom: rem-calc(80);

  @include media-breakpoint-up(md) {
    margin-bottom: rem-calc(128);
  }

  &__download {
    .card {
      +.card {
        margin-top: rem-calc(16);

        @include media-breakpoint-up(md) {
          margin-top: rem-calc(8);
        }
      }
    }
  }

  &__finance,
  &__documents {
    border-bottom: 2px solid $gray-100;
    margin-bottom: rem-calc(40);
    padding-bottom: rem-calc(40);

    h2 {
      color: $blue-alt;
      font-weight: 800;
    }

    .col {
      +.col {
        @include media-breakpoint-down(md) {
          margin-top: rem-calc(16);
        }
      }
    }
  }

  &__documents {
    margin-bottom: rem-calc(25);
  }

  &__button {
    margin-top: rem-calc(32);
  }

  &__change {
    a {
      font-weight: 800;
    }
  }
}

.modal-alteracao-documento,
.modal-solicitar-endosso {
  .modal-body {
    .btn-close {
      top: rem-calc(8);
      right: rem-calc(8);

      @include media-breakpoint-up(md) {
        top: rem-calc(24);
        right: rem-calc(24);
      }
    }

    .gform_wrapper {
      margin-right: 0;
      margin-left: 0;

      .gform_heading {
        @extend .px-0;

        .gform_title {
          color: $blue-alt;
          font-weight: 800;
          padding-right: rem-calc(24);

          @include media-breakpoint-up(md) {
            padding-right: initial;
          }
        }
      }

      form {
        @extend .px-0;
      }

      // Formulário: Solicitação de endosso.
      // O primeiro bloco (Conteúdo HTML) está com esta Classe CSS personalizada
      .block-margin-bottom {
        margin-bottom: rem-calc(16) !important;
      }

      // Formulário: Solicitação de alteração de documento.
      // O último bloco (Conteúdo HTML) está com esta Classe CSS personalizada
      .gfield-last-line {
        margin-bottom: rem-calc(0) !important;
      }
    }
  }
}
