.login {
  &__image {
    &-numero1 {
      object-fit: cover;
    }

    &-numero1-logo {
      top: rem-calc(32);
      left: rem-calc(32);
    }
  }

  &__access {
    &-alert{
      a{
        color: #58595B;
      }
    }
    @include media-breakpoint-down(xl) {
      margin-bottom: rem-calc(80);
      padding-top: rem-calc(56);
    }

    &-title {
      line-height: rem-calc(32);

      @include media-breakpoint-down(xl) {
        margin-top: rem-calc(35);
      }
    }

    &-description {
      line-height: rem-calc(22);
      margin-bottom: rem-calc(40);
    }

    &-form {
      margin-bottom: rem-calc(40);

      input {
        padding-left: rem-calc(44);

        &:focus-visible {
          border-color: $primary !important;
          outline: none;
        }
      }

      &-icons {
        font-size: rem-calc(18);
        left: rem-calc(16);
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
      }

      button {
        line-height: rem-calc(22);
      }
    }

    &-talk {
      .uil {
        &::before {
          font-size: rem-calc(18);
          margin-right: 2px;
        }
      }

      @include media-breakpoint-down(md) {
        line-height: 1.7 !important;
        max-width: 200px;
      }
    }

    .cadastro-modal {
      &__footer {
        padding: rem-calc(32);

        button {
          @include media-breakpoint-down(md) {
            width: 100% !important;
          }
        }
      }
    }

    .termos-login {
      display: flex;
      background: rgba(37, 37, 37, 0.98);
      padding: rem-calc(24 32);

      @include media-breakpoint-down(md) {
        padding: rem-calc(14 8);
      }

      &__paragrafo {
        a {
          transition: $transition-base;

          &:hover {
            color: $primary !important;
          }
        }
      }

      &__button {
        font-size: rem-calc(12);
        line-height: rem-calc(16);
      }
    }
  }
}


#modal-message-success{
  opacity: 1;
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display:none;
  margin-bottom: 30px;
}
#modal-terms,
.form-check-label {
  cursor: pointer;
}
.cadastro-modal .form-label span{
  color: #AF041D;
}
#loading-img{
  width:100;
  display: none;
  margin: 30px auto;
  display: none;
  margin: 30px auto;
}
#modal-message-error{
  display:none;
  max-width: 400px;
  margin: 10px auto 30px;
}


